.bs-float-button {
    border: none;
    padding: 5px 30px 5px 10px;
    outline: none !important;
    transition: .3s;
    background-color: #dddddd;
    position: absolute;
    bottom: 20px;
    right: 0px;
    min-height: 40px;

    &:hover {
        cursor: pointer;
        background-color: #bcbcbc;
    }

    &:active {
        transform: scale(.95);
    }
}

.bs-float-button.fixed {
    position: fixed;
}

.bs-float-button.active {
    background-color: #bcbcbc;
}

.bs-float-button.bs-secondary {
    background-color: #51beb3 !important;
    color: white;

    &:hover {
        background: #429990 !important;
    }
}

.bs-float-button.active.bs-secondary {
    background-color: #429990 !important;
}

.bs-float-button.bs-alternative {
    background-color: transparent !important;
    color: #51beb3;
    box-shadow: 0 0 0 1px #51beb3;
}
