.bs-input {
    width: min-content;
    align-items: center;
    white-space: nowrap;

    & > div {
        margin-bottom: 5px !important;
        width: 100%;
    }

    .bs-input-error {
        background-color: #db0000;
        border:2px solid #db0000;
        color: white;

        &:hover {
            background-color: #aa0101;
            border:2px solid #aa0101;
        }
    }

    & > span {
        color: #db0000;
        animation: fadein .5s;
    }

    input {
        border-radius: 0px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        transition: .3s;
        background-color: #dddddd;
        border:2px solid #dddddd;
        outline:none;
        display: flex;

        &:active {
            transform: scale(.95);
        }

        &:hover {
            background-color: #cccccc;
            border:2px solid #cccccc;
        }
    }
}

.bs-input.bs-secondary {

    .bs-input-error {
        background-color: inherit;
        border:2px solid #db0000;
        color: inherit;

        &:hover {
            border:2px solid inherit;
        }
    }

    input {
        background-color: transparent;
        border:2px solid #dddddd;

        &:active {
            transform: scale(.95);
        }

        &:focus {
            border:2px solid #51beb3;
        }
    }
}
