.bs-dialog {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.258);
    z-index: 999;
    outline: none;

    .panel {
        outline: none;
        min-width: 500px;
        max-width: 800px;
        background-color: white;
        animation: fadein .5s;

        .header {
            height: 50px;
            background-color: #dddddd;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px 0px 20px;
            
            span {
                font-size: larger;
            }

            img {
                margin-left: 5px;
                transform: scale(.9);
                transition: .3s;
                
                &:hover {
                    transform: scale(1);
                    cursor: pointer;
                }
        
                &:active {
                    transform: scale(.8);
                }
            }
        }
        .content {
            padding: 20px;
        }
        .actions {
            padding: 20px;
            padding-top: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
        }
        
    }
}

.bs-dialog.bs-secondary {
    .panel {
        .header {
            background-color: #51beb3;
            span {
                color: white;
            }

            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.bs-dialog.bs-alternative {
    .panel {
        background-color: #1e1e1e;
        color: white;

        .header {
            background-color: #2d2d2d;
            span {
                color: #51beb3;
            }

            img {
                filter: invert(70%) sepia(8%) saturate(2260%) hue-rotate(125deg) brightness(95%) contrast(86%);
            }
        }
    }
}
