.bs-message {
    overflow: hidden;
    position: fixed;
    width: 300px;
    z-index: 999;

    .bs-message-container {
        margin: 15px;
        padding: 15px;
        animation: fadein .5s;
        background: rgb(221, 221, 221);
    }
    
    .bs-message-error {
        background:  rgba(219,0,0,1);
        color: white;
    }
    
    .bs-message-warning {
        background:  rgba(253,187,45,1);
        color: white;
    }
    
    .bs-message-success {
        background:  rgb(8, 155, 0);
        color: white;
    }
    
    .bs-message-info {
        background:  rgb(1, 29, 207);
        color: white;
    }
}
